html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden; /* Prevents horizontal scroll */
}

.content-box:nth-child(odd){
    background-color: white;
}
.content-box:nth-child(even){
    background-color: rgb(245, 245, 245);
}

p.tag-style-1 {
    background-color: rgb(204, 53, 53);
    color: white;
}

p.tag-style-2 {
    background-color: rgb(253, 184, 236);
    color: white;
}

p.tag-style-3 {
    background-color: rgb(253, 184, 236);
    color: rgb(160, 51, 51);
}

button.button-style-1 {
    background-color: rgb(204, 53, 53);
    color: white;
}

button.button-style-2 {
    background-color: rgb(253, 184, 236);
    color: white;
}

button.button-style-3 {
    background-color: rgb(253, 184, 236);
    color: rgb(160, 51, 51);
}

/* Has elements like title, text and the showcase, displayed in column */
.content-box{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:auto;
    height:auto;

    padding: 1.5rem;
    gap: 1rem;
}

/* Has navigation elements*/
.nav-book-section{
    list-style:none;

    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-flow: row wrap;

    gap: 2rem;

    width: 95%;

}

.nav-book-item{
    display: flex;
    flex-direction: column;

    width: 20rem;
    min-height: 15rem;

    overflow: hidden;
    border-radius: 0.5rem;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .nav-book-item-box{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 50%;

        background-color: rgb(255, 180, 242);

        .book-icon {
            object-fit: cover;
            width: 10%;

        }

    }
}

.nav-event-section{
    list-style:none;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    gap: 1rem;

    width: 100%;
    height: auto;

    .nav-event-item{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 0.5rem;
        border-radius: 0.5rem;

        background-color: rgb(255, 255, 255);

        .event-icon-wrapper{
            display:flex;
            flex-direction: row;
            align-items: center;
            width: 100%;

            .event-icon {
                object-fit: fit;
                width: 20px;
                height: 20px;

            }
        }

        .event-icon-wrapper 
        {
            gap: 0.5rem;
        }
        .reg_button{
            width: 120px;
            border: none;
            border-radius: 0.5rem;
            padding: 0.5rem 1rem;
            cursor: pointer;

            &:hover {
                background-color: rgb(255, 87, 96);
            }
        }
    }
}

.nav-news-section{
    list-style:none;

    display:flex;
    flex-direction: rows;
    justify-content: center;
    flex-flow: row wrap;
    align-items: stretch;

    gap: 1rem;

    width: 100%;
    height: auto;

    .nav-news-item{
        display: flex;
        flex-direction: column;
        justify-content: left;

        max-width: 40vw;
        min-width: 300px;

        gap: 0.5rem;
        padding: 0.5rem;
        border-radius: 0.5rem;

        background-color: rgb(253, 243, 237);
    }

    button.read-more{
        display: flex;
        justify-content: left;

        color: rgb(160, 51, 51);

        width: 50%;

        border: none;
        cursor: pointer;

        &:hover {
            background-color: rgb(255, 87, 96);
        }
    }

}

.tag-info-wrapper {
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

h3 {
    font-size: large;
    font-weight: bold;
    color: #333;
}

.detail-text {
    font-size: small;
    color: #555;
}

.tag {
    display: inline-block;
    justify-content: center;
    align-items: center;

    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
}



