html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden; /* Prevents horizontal scroll */
}

/* Has elements like title, text and the showcase, displayed in column */
.content-box{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:auto;
    height:auto;

    background-color: white;

}

/* Has navigation elements*/
.nav-section{
    list-style:none;

    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-flow: row wrap;

    gap: 2rem;

    width: 95%;

    background-color: white;
}

.nav-book-item{
    display: flex;
    flex-direction: column;

    width: 20rem;
    min-height: 15rem;

    overflow: hidden;
    border-radius: 0.5rem;

    background-color: rgb(248, 248, 248);

    .nav-book-item-box{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 50%;

        background-color: rgb(255, 180, 242);

        .book-icon {
            object-fit: cover;
            width: 10%;

        }

    }
}

