html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden; /* Prevents horizontal scroll */
}

.content-box:nth-child(odd){
    background-color: white;
}
.content-box:nth-child(even){
    background-color: rgb(245, 245, 245);
}

/* Has elements like title, text and the showcase, displayed in column */
.content-box{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:auto;
    height:auto;

    padding: 1.5rem;
    gap: 1rem;
}

/* Has navigation elements*/
.nav-book-section{
    list-style:none;

    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-flow: row wrap;

    gap: 2rem;

    width: 95%;

}

.nav-book-item{
    display: flex;
    flex-direction: column;

    width: 20rem;
    min-height: 15rem;

    overflow: hidden;
    border-radius: 0.5rem;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .nav-book-item-box{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 50%;

        background-color: rgb(255, 180, 242);

        .book-icon {
            object-fit: cover;
            width: 10%;

        }

    }
}

.nav-event-section{
    list-style:none;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    gap: 1rem;

    width: 100%;
    height: auto;

    .nav-event-item{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 0.5rem;
        border-radius: 0.5rem;

        background-color: rgb(255, 255, 255);

        .event-icon-wrapper{
            display:flex;
            flex-direction: row;
            align-items: center;
            width: 100%;

            .event-icon {
                object-fit: fit;
                width: 20px;
                height: 20px;

            }
        }

        .event-icon-wrapper 
        {
            gap: 0.5rem;
        }
        .sign-up-button{
            width: 120px;
            background-color: rgb(255, 113, 120);
            border: none;
            border-radius: 0.5rem;
            padding: 0.5rem 1rem;
            cursor: pointer;
            color: white;

            &:hover {
                background-color: rgb(255, 87, 96);
            }
        }
    }
}



