$text-color: #0000009e;       // text och länkar på header blir vit
$primary-color: #f0eae5;    // logon och headerns bakgrund
$background-color: #f0eae5; // sidans bakgrund
$header-radius: 0 0 40px 40px;       // border-radius på headern
$footer-bg: #333;
$footer-text: #fff;